.button{
    background: #4d5ae5;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #070e5c;
    cursor: pointer;
}
.button1{
    background: #00ec18;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #044b0b;
    cursor: pointer;
}
.text{
 padding-left: 50px;
 padding-top: 100px;
}
.foto{
 padding-left: 100px;
}

.link{

    text-decoration:none;
    color: #070e5c;
}
.link1{
    text-decoration:none;
    color: #044b0b;
}

.body{
    background-color: rgb(197, 197, 197);
}